:root {
    --primary-color: #4522a8;
    --primary-light: #ece8f4;
    --primary-dark: rgb(62, 18, 148);
    --warning-color:#ffc400;
    --warning-dark:#c17900;
    --danger-color:#d32f2f;
    --danger-dark:#b0151c;
    --danger-light:#ff6659;
}

button:focus{
    text-decoration: none;
    outline: none !important;
}
.stopTraining{
    background-image: linear-gradient(to right,#d32f2f,#9a0007) !important;
}
.startTraining{
    background-image: linear-gradient(to right,#6649b5,#41258e) !important;
}
.forecast{
    padding: 1rem;
    background-image: linear-gradient(to right,#41258e,#6649b5,#41258e) !important;
    color: white;
    /* display: none; */
    text-align: center;
    font-size: 1.2rem;
    position: absolute;
    bottom: 0;
    width: 100%;
    
}
.mdc-snackbar__surface{
    background-color: rgba(237, 234, 240, 0.95) !important;
}
.mdc-snackbar{
    color: #41258e !important;
}
.mdc-snackbar__label{
    color: #41258e !important;
}