:root {
    --primary-color: #4522a8;
    --primary-light: #7b4fdb;
    --primary-dark: #000078;
    --warning-color:#ffc400;
    --warning-dark:#c17900;
    --danger-color:#d32f2f;
    --danger-dark:#9a0007;
    --danger-light:#ff6659;
}

body {}

sidebar {
    top: 0;
    position: absolute;
    width: 4rem;
    background: var(--primary-light)
}

/* Sidebar */

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }
    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }
    #wrapper.toggled #sidebar-wrapper {
        margin-left: -12rem;
    }
}

/* Custom CSS */

#sidebar-wrapper .list-group-item-action,
#sidebar-wrapper .list-group-item-action {
    padding: 2rem;
}

#sidebar-wrapper .list-group-item-action i {
    float: right;
}

.stocks {}

.main-container {
    /* background: red; */
    height: 100%;
    min-height: 100%;
    padding: 1rem;
}

.stocks-list {
    margin-top: 1rem;
}

.stocks-list .list-group {
    overflow-y: scroll;
    height: 30rem;
}

.stocks-list .list-group-item-action {
    padding: 1rem;
    //display: flex;
}

.mdc-fab.notify{
    background-color: var(--warning-color) !important;
}
.mdc-fab.delete{
    background-color: var(--danger-color) !important;

}




/* typeahead styles */
.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-menu {    /* used to be tt-dropdown-menu in older versions */
  width: 422px;
  margin-top: 4px;
  padding: 4px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  line-height: 24px;
}

.tt-suggestion.tt-cursor,.tt-suggestion:hover {
  color: #fff;
  background-color: var(--primary-light);

}

.tt-suggestion p {
  margin: 0;
}